<launch>
  <node pkg = "lms1xx" type="LMS1xx_node" name="lms1xx" output="screen"/>
  <node pkg = "lms_client" type="lms_client" name="lms_client" args="false"/>
  <node pkg = "occupancy_map" type="occupancy_map" name ="occupancy_map" args="true"/>


  <node pkg = "lane_perception_placeholder" type="lane_placeholder_node" name ="lane_perception_placeholder"/>
  <node name="astar_planner" pkg="astar_planner" type="path_planner" output="screen"/>
  <node name="zero_monitor" pkg="zero_monitor" type="zero_monitor" output="screen"/>
</launch>
